* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#num1 {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#num2 {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  font-size: 18px;
  font-weight: bold;
  color: darkgreen;
  margin-top: 10px;
}

#operator {
  padding: 8px;
  border-radius: 5px;
  font-size: larger;
}

#calculate {
  background-color: #28a745;
  padding: 10px 20px;
  border-radius: 5px;
}

#calculate:hover {
  background-color: #18642a;
  cursor: pointer;
}
#reset {
  background-color: #dc3545;
  padding: 10px 20px;
  border-radius: 5px;
}
#reset:hover {
  background-color: #8a1d28;
  cursor: pointer;
}

